

hr {
    color:black;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    line-height: 1.4;
    font-family: "Newsreader";
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    margin: 5em;
}

/*main*/

main {
    margin-top: 2em;
}

div.page-content {
    margin:20px;
}

.flexbox-img {
    display:flex;
    flex-wrap:wrap;
    align-items: flex-start;
}

.flexbox-img img {
    object-fit: contain;
    flex-shrink: 0;
    margin:1em;
}

.text-wrap-container {
    flex: 1;
    min-width: 200px;
    margin: 0.5em;
}

h1 {
    font-weight:600;
    font-size:42.56px;
}

h2 {
    font-weight: 500;
    font-size: 32px;
}

h3 {
    font-weight:500;
    font-size:24px;
}

p {
    margin: 1em;
    font-size: 24px;
}

ul {
    font-size: 18pt;
}

span {
    color: #7B3F00;
}

/*header*/


.header-container {
    display: flex;
    margin-top: 0.25em;
    align-items: center;
}

.logo-container {
    flex:2;
}


nav {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

nav a {
    color: black;
    font-weight:500;
    font-size: 24px;
}

nav a:hover{
    color: #7B3F00;

}

/*footer*/

footer {
    margin-top:15em;
    justify-content: flex-end;
    position:static;
}

#footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:center;
}

#socials {
    text-align: left;
}

#copyright p {
    font-size:large;
    text-align:right;
}

/*home*/

main#home {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    flex:1;
}

section#intro-home h1 {
    text-decoration: underline;
    text-align: center;
}

#intro-home h2 {
    text-align: center;
}

section#intro-home {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.portfolio-home {
    margin: 2em;
    margin-bottom: 20em;

}
.portfolio-grid {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.portfolio-item {
    flex: 1;
    height: 30px;
    transition: transform 0.3s ease;
  }

.portfolio-item:hover {
    transform: scale(1.1);
  }

/*about*/
p.bio::first-letter {
    float: left;
    font-size: 2.5em;
    line-height: 1;
    padding-right: 0.1em;
    font-weight: bold;
  }

/*portfolio*/

.page-title-container {
    text-decoration: underline;
    color: #7B3F00;
}

.page-content-portfolio {
    text-align: center;
    margin: 1em;
}

.portfolio-sections {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;     
    align-items: flex-start;    
    max-width: fit-content;  
    margin: auto;               
}

.portfolio-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;     
    align-items: flex-start;    
    max-width: fit-content;  
    margin: auto;
    font-size: 0.5em;
    font-style: italic;
}

details > summary {
    font-size: 30px;
    margin:0.5em;
}


/*contact*/

form {
    font-size: 24px;
}

input {
    font-family: "Newsreader";
    font-size: 24px;
}

select option {
    font-size: 24px;
}

/*edit this w/ js?*/


/*padding on the text or margin on the image */


/*
@media screen and (min-width:415px) {
    img#bio {
        float: left;
    }

   footer {
    clear: both;
   }
}

