body {
    color: #111111;
    background-color:#EFEDE9 ;
    font-family: 'Garamond'}

h1, h2 {
    color:brown;
    font-size:2em
}

a {
    color: #007BFF
}

nav {
    background-color: #2d3864;
    padding: 10px;
    margin-bottom: 30px;
}

nav a {
    color: #E3E3E3
}

nav a:hover {
    background-color: #FFD700
}

